html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

#footer {
    height: 40px;
    background-color: #f5f5f5;
    margin-top: 40px;
}

.main {

}

#issueDetails .modal-dialog {
    width: 90%;
}

blockquote.comment {
    margin: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
.container .credit {
    margin: 10px 0;
}

.center {
    text-align: center;
}

table.issues .unread {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.issue-description {
    padding-right: 10px;
}

.issue-history {
    margin: 3px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 4px;
}

.issue-timelines .timeline {
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 5px;
    margin: 13px 2px;
    box-shadow: -1px 1px 7px -1px #a6acb3;
}

.issue-timelines .timeline .date {
    margin-left: 10px;
}

.issue-timelines .timeline .remove-hidden {
    display: none;
}

.issue-timelines .timeline:hover .remove-hidden {
    display: block;
    -webkit-animation-name: 'toggle';
    -webkit-animation-duration: .3s;
}

.time-entries {
    margin: 10px;
}

.time-entries .entry {
    margin: 8px 0;
    border-radius: 6px;
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.time-entries .entry:hover {
    background-color: #fefefe;
}

.time-entries .entry p {
    margin: 0 0 5px;
}

.entry span.label {
    width: 70px;
    text-align: center;
    margin-right: 10px;
}

@-webkit-keyframes 'toggle' {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.attach {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
}

.add-attach {
    margin-bottom: 5px;
}

.margin {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.minify {
  padding: 1px 5px;
  border-radius: 3px;
}
.minify:hover {
    background-color: #ececec;
}

.scroll {
    margin: 10px;
}

.news {
    margin-top: 20px;
}

.news .read-more {
    margin-left: 5px;
    font-style: italic;
}

.wall {
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    margin: 13px 2px;
    box-shadow: -1px 1px 7px -1px #a6acb3;
}