<div class="modal fade" id="tableOptions" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>
                    {{ 'lang_IssueListOptions' | translate }}
                    <small> {{ 'lang_IssueListHint' | translate }}</small>
                </h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="options.profile.table.project" value="option1"> {{ 'lang_ProjectTitle' | translate }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="options.profile.table.author" value="option2"> {{ 'lang_AuthorName' | translate }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="options.profile.table.tracker" value="option3"> {{ 'lang_Tracker' | translate }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="options.profile.table.status" value="option4"> {{ 'lang_Status' | translate }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="options.profile.table.priority" value="option5"> {{ 'lang_Priority' | translate }}
                    </label>
                </form>
            </div>
            <div class="modal-footer">
                <a href="" class="btn btn-success" data-ng-click="storeTableOptions()">
                    {{ 'lang_StoreOptions' | translate }}
                </a>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ 'lang_Close' | translate }}</a>
            </div>
        </div>
    </div>
</div>

<div data-ng-include src="'/html/partials/issueDetails.html'"></div>
<div data-ng-include src="'/html/partials/issueList.html'"></div>