<div class="page-header">
    <h3>{{ 'lang_YourLatestIssues' | translate }}</h3>
</div>
<div class="well well-sm">
    <div class="row">
        <div class="col-md-7">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" class="search-query"
                           data-ng-model="search.subject"
                           placeholder="{{ 'lang_SearchBySubject' | translate }}"
                           data-ng-show="issues.length > 0"/>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <a href="#/new_issue" class="btn btn-info">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;{{ 'lang_NewIssue' | translate }}
            </a>
            <a href="" class="btn" data-ng-click="markAllRead()" data-ng-show="issues.length > 0">
                <i class="glyphicon glyphicon-ok"></i>&nbsp;{{ 'lang_MarkAllAsRead' | translate }}
            </a>
            <a href="" class="btn" data-ng-click="reload()" data-ng-class="isLoading() && 'disabled'">
                <i class="glyphicon glyphicon-refresh"></i>&nbsp;{{ 'lang_Update' | translate }}
            </a>
            <a href="#tableOptions" class="btn" data-toggle="modal">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
            <i class="help glyphicon glyphicon-info-sign"
               data-ng-hide="options.profile.hideHints"
               data-type="popover"
               data-original-title="{{ 'lang_Notice' | translate }}"
               data-content="{{ 'lang_IssueListHint' | translate }}"></i>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- No issues message -->
        <div class="alert" data-ng-show="issues.length < 1 && !isLoading()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ 'lang_OopsNoIssuesAvailable' | translate }}
        </div>
        <!-- Issue list -->
        <table class="table table-hover table-condensed issues" data-ng-show="issues.length > 0">
            <thead>
                <tr>
                    <!--<th style="width: 15px; text-align: center;">
                        <a href="" data-ng-click="order = 'read'; reverse=!reverse">#</a>
                    </th>-->
                    <th style="width: 250px;" data-ng-show="options.profile.table.author">
                        <a href="" data-ng-click="order = 'author.name'; reverse=!reverse">{{ 'lang_Author' | translate }}</a>
                    </th>
                    <th style="width: 250px;" data-ng-show="options.profile.table.project">
                        <a href="" data-ng-click="order = 'project.name'; reverse=!reverse">{{ 'lang_Project' | translate }}</a>
                    </th>
                    <th>
                        <a href="" data-ng-click="order = 'subject'; reverse=!reverse">{{ 'lang_Subject' | translate }}</a>
                    </th>
                    <th data-ng-show="options.profile.table.priority">
                        <a href="" data-ng-click="order = 'priority.id'; reverse=!reverse">{{ 'lang_Priority' | translate }}</a>
                    </th>
                    <th data-ng-show="options.profile.table.tracker">
                        <a href="" data-ng-click="order = 'tracker.name'; reverse=!reverse">{{ 'lang_Tracker' | translate }}</a>
                    </th>
                    <th style="width: 150px;" data-ng-show="options.profile.table.status">
                        <a href="" data-ng-click="order = 'status.name'; reverse=!reverse">{{ 'lang_Status' | translate }}</a>
                    </th>
                    <th style="width: 15px; text-align: center;">
                        <a href="" data-ng-click="order = 'read'; reverse=!reverse">
                            <i class="glyphicon glyphicon-star"></i>
                        </a>
                    </th>
                    <th style="width: 50px;">{{ 'lang_Actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="issue in issues | filter:search | orderBy:order:reverse | pager:page*pageSize | limitTo:pageSize track by issue.id" data-ng-class="issue.read || 'unread'">
                    <!--
                    <td>
                        <input type="checkbox" name="issue[]" value="{{issue.id}}" /> 
                    </td>
                    -->
                    <td data-ng-show="options.profile.table.author">{{issue.author.name}}</td>
                    <td data-ng-show="options.profile.table.project">
                        {{issue.project.name}}
                    </td>
                    <td>
                        <a href="" data-ng-click="showDetails(issue)">
                            <i class="glyphicon glyphicon-eye-open ng-cloak"
                                    data-ng-show="issue.watcher" 
                                    data-type="tooltip" 
                                    data-original-title="{{ 'lang_YouAreOnlyWatching' | translate }}"></i>
                            {{issue.subject}}
                        </a>
                    </td>
                    <td data-ng-show="options.profile.table.priority">
                        <span data-ng-if="issue.priority && issue.priority.name">{{issue.priority.name}}</span>
                    </td>
                    <td data-ng-show="options.profile.table.tracker">
                        {{issue.tracker.name}}
                    </td>
                    <td data-ng-show="options.profile.table.status">
                        {{issue.status.name}}
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-star pointer" data-ng-click="markRead(issue)" data-ng-hide="issue.read"></i>
                        <i class="glyphicon glyphicon-star-empty pointer" data-ng-click="markUnRead(issue)" data-ng-show="issue.read"></i>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-share pointer" data-ng-click="openWebPage(issue)" data-type="tooltip" data-original-title="{{ 'lang_OpenIssueInRedmine' | translate }}"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <div data-ng-show="issues.length > pageSize">
            <ul class="pager">
                <li>
                    <button class="btn" data-ng-disabled="page == 0" data-ng-click="page=page-1">{{ 'lang_Previus' | translate }}</button>
                </li>
                <li>
                    <button class="btn" data-ng-disabled="page >= issues.length/pageSize - 1" data-ng-click="page=page+1">{{ 'lang_Next' | translate }}</button>
                </li>
            </ul>
        </div>
    </div>
</div>