<div class="modal fade" id="issueDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>
                    {{issue.subject}}
                    <small data-ng-show="issue.project">{{issue.project.name}}</small>
                </h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-info center" data-ng-hide="issue.detailsLoaded">
                    {{ 'lang_Loading' | translate }}...
                </div>
                <p>
                    <small>
                        {{ 'lang_AddedBy' | translate }}
                        <a href="" data-ng-click="openAuthorPage(issue.author.id)">{{issue.author.name}}</a>
                        {{ 'lang_On' | translate }}{{issue.created_on | date:'MMM d, y'}}
                    </small>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <small>
                                <strong>{{ 'lang_Status' | translate }}</strong>:&nbsp;
                                <span data-editable-list
                                      data-editable-value="issue.status.id"
                                      data-editable-select="availStatuses"
                                      data-on-ok="stausOk">
                                    {{issue.status.name}}
                                </span><br/>
                                <strong>{{ 'lang_Priority' | translate }}</strong>:&nbsp;{{issue.priority.name}}<br/>
                                <span data-ng-show="issue.assigned_to">
                                    <strong>{{ 'lang_Assignee' | translate }}</strong>:&nbsp;
                                    <a href="" data-ng-click="openAuthorPage(issue.assigned_to.id)">{{issue.assigned_to.name}}</a>
                                </span><br/>
                                <span>
                                    <strong>{{ 'lang_EstimatedHours' | translate }}</strong>:&nbsp;<span data-editable-input
                                          data-editable-value="issue.estimated_hours"
                                          data-on-ok="estimatedOk">
                                        {{issue.estimated_hours || 0}}
                                    </span>
                                </span>
                            </small>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div data-ng-show="issue.done_ratio >= 0">
                            <small data-ng-show="issue.tracker">
                                <strong>{{ 'lang_Type' | translate }}</strong>:&nbsp;
                                <span data-editable-list
                                      data-editable-value="issue.tracker.id"
                                      data-editable-select="project.trackers"
                                      data-on-ok="trackOk">
                                    {{issue.tracker.name}}
                                </span>
                                <br/>
                            </small>
                            <small>
                                <strong>{{ 'lang_Done' | translate }}</strong>:&nbsp;<span data-progress
                                      data-editable-value="issue.done_ratio"
                                      data-on-ok="doneOk">
                                    {{issue.done_ratio}}%
                                </span>
                            </small>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     aria-valuenow="{{issue.done_ratio || 0}}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{issue.done_ratio || 0}}%;">
                                <span class="sr-only">{{ 'lang_Complete20Perc' | translate }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <div data-ng-show="issue.tracking">
                        <div>
                            <a href="" class="btn btn-danger" data-ng-click="stopTrackingTime()">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                                {{ 'lang_FinishWorkingOnIssue' | translate }}
                            </a>
                        </div>
                        <div class="margin margin-top">
                            <a href="" data-ng-click="toggleTimeComment = !toggleTimeComment">
                                <i class="glyphicon glyphicon-comment"></i>&nbsp;
                                <span data-ng-hide="toggleTimeComment">{{ 'lang_EditComment' | translate }}</span>
                                <span data-ng-show="toggleTimeComment">{{ 'lang_FinishEditing' | translate }}</span>
                            </a>
                            <div data-ng-show="toggleTimeComment">
                                <form class="margin-top" role="form">
                                    <textarea class="form-control" style="width: 80%; height: 90px;" data-ng-model="issue.trackingComment"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div data-ng-hide="issue.tracking">
                        <a href="" class="btn btn-success" data-ng-click="startTrackingTime()">
                            <i class="glyphicon glyphicon-time"></i>
                            {{ 'lang_StartWorkingOnIssue' | translate }}
                        </a>
                    </div>
                </div>
                <hr/>
                <div id="detailsTabs">
                    <ul class="nav nav-tabs" id="issue-details-tabs">
                        <li class="active"><a href="#description" data-toggle="tab">{{ 'lang_Description' | translate }}</a></li>
                        <li class=""><a href="#journals" data-toggle="tab">{{ 'lang_History' | translate }}</a></li>
                        <li class="">
                            <a href="#attachments" data-toggle="tab">{{ 'lang_Attachments' | translate }}</a>
                        </li>
                        <li class=""><a href="#addComment" data-toggle="tab">{{ 'lang_AddComment' | translate }}</a></li>
                        <li class=""><a href="#timelines" data-toggle="tab"> {{ 'lang_TimeLogs' | translate }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                            <div class="issue-description margin-top">
                                <p data-ng-bind-html="issue.description | nl2br"></p>
                            </div>
                        </div>
                        <!-- Show Issue actions history -->
                        <div class="tab-pane" id="journals">
                            <div class="alert center" data-ng-hide="issue.detailsLoaded">
                                {{ 'lang_LoadingHistory' | translate }}
                            </div>
                            <div class="text-center scroll" data-ng-show="issue.detailsLoaded">
                                <a href="" id="scrollToBottom" data-ng-click="scroll(false)">{{ 'lang_ScrollToBottom' | translate }}</a>
                            </div>
                            <div data-ng-repeat="history in issue.journals" class="issue-history">
                                <p class="pointer minify" data-ng-click="toggleMinify(history)">
                                    <small>
                                        <strong>{{ 'lang_UpdatedBy' | translate }}</strong>
                                        <a href="" data-ng-click="false">{{history.user.name}}</a> {{ 'lang_On' | translate }} {{history.created_on | date:'MMM d, y'}}
                                    </small>
                                    <i class="pull-right" data-ng-class="history.minified && 'glyphicon glyphicon-resize-full' || 'glyphicon glyphicon-resize-small'"></i>
                                </p>
                                <div data-ng-hide="history.minified"> 
                                    <ul data-ng-show="history.details.length > 0">
                                        <li data-ng-repeat="item in history.details">
                                            <div data-issue-history="item" data-issue="issue" data-project="project"></div>
                                        </li>
                                    </ul>
                                    <div data-ng-show="history.notes">
                                        <!--<blockquote>-->
                                            <p data-ng-bind-html="history.notes | nl2br"></p>
                                            <small class="pointer" data-ng-click="replyComment()">
                                                <i class="glyphicon glyphicon-comment"></i>&nbsp;{{ 'lang_Reply' | translate }}
                                            </small>
                                        <!--</blockquote>-->
                                    </div>
                                </div>
                            </div>
                            <div class="text-center scroll"  data-ng-show="issue.detailsLoaded">
                                <a href="" id="scrollToTop" data-ng-click="scroll(true)">{{ 'lang_ScrollToTop' | translate }}</a>
                            </div>
                        </div>
                        <!-- List of attachments for issue -->
                        <div class="tab-pane" id="attachments">
                            <div class="issue-attachments margin-top">
                                <div data-ng-repeat="attach in issue.attachments" class="attach">
                                    <i class="glyphicon glyphicon-chevron-right"></i>&nbsp;
                                    <a data-ng-href="{{attach.content_url}}" target="_blank">{{attach.filename}}</a>
                                    &nbsp;
                                    <small>
                                        <i>{{attach.author.name}}&nbsp;{{attach.created_on | date:'dd-MM-yyyy'}}</i>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!-- Add new Comment to issue -->
                        <div class="tab-pane" id="addComment">
                            <form class="form-horizontal margin-top" role="form">
                                <upload-file></upload-file>
                                <textarea rows="5" class="form-control" data-ng-disabled="!issue.detailsLoaded" data-ng-model="comment"></textarea>
                                <div class="margin-top">
                                    <button class="btn btn-info" data-ng-disabled="!issue.detailsLoaded" data-ng-click="addComment(comment); comment = ''">{{ 'lang_AddComment' | translate }}</button>
                                </div>
                            </form>
                        </div>
                        <!-- Timelines -->
                        <div class="tab-pane" id="timelines">
                            <div class="issue-timelines margin-top">
                                <div class="alert alert-info text-center" data-ng-hide="issue.timelines.length > 0">
                                    {{ 'lang_NoTimeLogsAvailable' | translate }}
                                </div>
                                <div data-ng-show="issue.timelines.length > 0">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span class="label label-info">{{ 'lang_TotalTimeSpent' | translate }}:&nbsp;{{issue.timelineTotal|tohours}}</span>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="" class="btn btn-danger" data-ng-click="clearTimeline(issue)" data-ng-hide="issue.tracking">
                                                <i class="glyphicon glyphicon-trash"></i>&nbsp;
                                                {{ 'lang_ClearTimeLogs' | translate }}
                                            </a>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="timeline" data-ng-repeat="timeline in issue.timelines">
                                    <div class="row">
                                        <div class="col-md-11 entry">
                                            <p>
                                                <span class="label label-success">{{timeline.spent|tohours}}</span>
                                                <i data-ng-show="timeline.comment == ''">{{ 'lang_NoCommentAvailable' | translate }}</i>
                                                <i data-ng-hide="timeline.comment == ''">{{timeline.comment}}</i>
                                            </p>
                                            <small class="muted">&nbsp;<i>{{timeline.start|date:'yyyy-MM-dd'}}</i></small>
                                        </div>
                                        <div class="col-md-1">
                                            <i class="glyphicon glyphicon-trash pointer remove-hidden" data-ng-click="removeTimeline(timeline)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="" class="btn" data-ng-click="openWebPage(issue)">
                    <i class="glyphicon glyphicon-share"></i>&nbsp;
                    {{ 'lang_OpenInRedmine' | translate }}
                </a>
                <a href="#" class="btn" data-dismiss="modal" aria-hidden="true"> {{ 'lang_Close' | translate }}</a>
            </div>
        </div>
    </div>
</div>