<div class="page-header">
    <h3>  {{ 'lang_YourTimelogs' | translate }}</h3>
</div>
<div>
    <div class="alert text-center" data-ng-hide="timelines.length > 0 || timelinesActive.length > 0">
        {{ 'lang_NoWorkingIssues' | translate }}
    </div>
    <div data-ng-show="timelines.length > 0 || timelinesActive.length > 0">
        <a href="" class="btn btn-danger" data-ng-click="clear()">
            <i class="glyphicon glyphicon-trash"></i>&nbsp;{{ 'lang_ClearAllTimeLogs' | translate }}
        </a>
    </div>
    <div data-ng-show="timelinesActive.length > 0">
        <div data-ng-repeat="timeline in timelinesActive" class="wall">
            <div class="row-fluid">
                <div class="span10">
                    <i class="glyphicon glyphicon-time"></i>
                    {{timeline.issue.subject}}&nbsp;
                    <span class="label label-success" data-ng-show="!timeline.spent && !timeline.end">{{ 'lang_YouAreWorkingOnThisIssue' | translate }}</span>
                    <br/>
                    <small class="muted"><i>&nbsp;{{timeline.start|date:'yyyy-MM-dd h:mma'}}</i></small>
                </div>
                <div class="span2">
                    <button class="btn btn-danger" data-ng-click="stopTrackingTime(timeline)">
                        <i class="glyphicon glyphicon-remove-circle"></i>&nbsp;
                        {{ 'lang_FinishWorking' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <div data-ng-repeat="timeline in timelines|limitTo:limit" class="wall">
        <div class="row-fluid">
            <div class="span11 pointer" data-ng-click="timeline.open = !timeline.open">
                <i data-ng-class="timeline.open && 'glyphicon glyphicon-minus-sign' || 'glyphicon glyphicon-plus-sign'"></i>
                {{timeline.issue.subject}}&nbsp;
                <span style="margin-left: 15px;" class="label label-warning">total: {{timeline.total|tohours}}</span>
            </div>
            <div class="span1">
                <i class="glyphicon glyphicon-trash pointer remove-hidden" data-ng-click="removeIssueTimeline(timeline.issue)"></i>
            </div>
        </div>
        <div data-ng-show="timeline.open" class="time-entries">
            <div data-ng-repeat="t in timeline.times" class="entry">
                <p>
                    <span class="label label-success">{{t.spent|tohours}}</span>
                    <i>{{ 'lang_NoCommentAvailable' | translate }}</i>
                </p>
                <small class="muted"><i>&nbsp;{{t.start|date:'yyyy-MM-dd'}}</i></small>
            </div>
        </div>
    </div>
    <div data-ng-show="timelines.length > limit">
        <a href="" data-ng-click="limit = limit+10">{{ 'lang_ShowMore' | translate }}</a>
    </div>
</div>