<!DOCTYPE html>
<html data-ng-app="issues" data-ng-csp>
    <head>
        <title>In2In Issue Tracker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=1024, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="../css/bootstrap-theme.min.css" rel="stylesheet">-->
        <link href="../css/main.css" rel="stylesheet">
        <!-- Javascripts -->
        <script type="text/javascript" src="../js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>

        <!--<script type="text/javascript" src="../js/lib/angular.min.js"></script>-->
        <!--<script type="text/javascript" src="../js/lib/angular-route.min.js"></script>-->
        <!--<script type="text/javascript" src="../js/lib/angular-sanitize.min.js"></script>-->
        <!--<script type="text/javascript" src="../js/lib/angular-animate.min.js"></script>-->

        <script type="text/javascript" src="../js/lib/angular.js"></script>
        <script type="text/javascript" src="../js/lib/angular-route.js"></script>
        <script type="text/javascript" src="../js/lib/angular-sanitize.js"></script>
        <script type="text/javascript" src="../js/lib/angular-animate.js"></script>
	    <script type="text/javascript" src="../js/lib/angular-translate.min.js"></script>

	    <script type="text/javascript" src="../js/app/translation.js"></script>
        <script type="text/javascript" src="../js/app/services.js"></script>
        <script type="text/javascript" src="../js/app/app.js"></script>
        <script type="text/javascript" src="../js/app/controllers/home.js"></script>
        <script type="text/javascript" src="../js/app/controllers/main.js"></script>
        <script type="text/javascript" src="../js/app/controllers/new_issue.js"></script>
        <script type="text/javascript" src="../js/app/controllers/news.js"></script>
        <script type="text/javascript" src="../js/app/controllers/options.js"></script>
        <script type="text/javascript" src="../js/app/controllers/projects.js"></script>
        <script type="text/javascript" src="../js/app/controllers/timelines.js"></script>
    </head>
    <body>
        <div data-ng-controller="Main" style="padding-left: 0;">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li data-ng-class="$location.path() == '/home' && 'active'">
                                <a href="#/home">
                                    <i class="glyphicon glyphicon-list"></i>
                                    {{ 'lang_IssueList' | translate }}&nbsp;
                                    <span class="badge" data-ng-show="getUnreadCount() > 0">{{getUnreadCount()}}</span>
                                </a>
                            </li>
                            <li data-ng-class="$location.path() == '/news' && 'active'">
                                <a href="#/news">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                    {{ 'lang_News' | translate }}
                                </a>
                            </li>
                            <li data-ng-class="$location.path() == '/projects' && 'active'">
                                <a href="#/projects">
                                    <i class="glyphicon glyphicon-book"></i>
                                     {{ 'lang_Projects' | translate }}
                                </a>
                            </li>
                            <li data-ng-class="$location.path() == '/timelines' && 'active'">
                                <a href="#/timelines">
                                    <i class="glyphicon glyphicon-time"></i>
                                    {{ 'lang_TimeLogs' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li data-ng-show="$location.path() == '/home'">
                                <a href="#projectFilters" data-toggle="modal">
                                    <i class="glyphicon glyphicon-filter"></i>
                                    {{ 'lang_ProjectsFiltering' | translate }}
                                </a>
                            </li>
                            <li data-ng-class="$location.path() == '/options' && 'active'">
                                <a href="#/options">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                    {{ 'lang_Options' | translate }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container main">
                <div class="row">
                    <!--Body content-->
                    <div class="alert alert-danger" data-ng-if="xhrError">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ 'lang_ServerWarning' | translate }}
                    </div>
                    <div class="alert alert-success ng-cloak" data-ng-if="customSuccess && customSuccess != ''">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div data-ng-bind-html="customSuccess"></div>
                    </div>
                    <div class="alert alert-danger ng-cloak" data-ng-if="customError && customError != ''">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <div data-ng-bind-html="customError"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6 alert alert-info center" data-ng-show="loading.length > 0">
                            <img src="/img/ajax-loader.gif" alt="Loading..." />
                            <strong>{{ 'lang_Loading' | translate }}...</strong>
                        </div>
                    </div>
                    <div data-ng-include src="'/html/partials/projectFilter.html'"></div>
                    <div data-ng-view=""></div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">
                    <a href="http://www.in2in.cat" target"_blank">{{ 'lang_AuthorLink' | translate }}</a>
                    <a href="#/options" class="pull-right">{{ 'lang_ExtensionOptions' | translate }}</a>
                </p>
            </div>
        </div>
    </body>
</html>
